html {
    background: url("../img/gif/cat-mouse.gif") no-repeat center fixed;
    background-size: cover;
} 

p {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    color: white;
    margin-right: 2rem;
}